html
  head
    title #{subject}
  style(type="text/css").
    .container {
      margin: auto;
      width: 600px;
      margin-top: 10px;
      background-color: #B72FEF;
      line-height: 150%;
      border-radius: 16px 16px 0px 0px;
      color: #fff;
      padding: 10px 16px;
      font-weight: normal;
    }

    .subject-value {
      font-weight: bold;
    }

    .attachment-link {
      color: #fff;
      font-weight: bold;
    }
  body
    .container
      ="Subject line: "
      span.subject-value #{subject} <br>
      ="To: "
      span.subject-value #{to} <br>
      if attachments.length > 0
        ="Attachments: "
        each att in attachments
          a.attachment-link(href='/emails/' + messageId + '/attachments/' + att.partId, target="_blank")= att.filename
          =" "
    | !{htmlContent}
